*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    outline: none;
}

a:hover{
    text-decoration: underline;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #cacaca;
    font-family: 'Courier New', Courier, monospace;
    
}
h5{
    color: black;
    font-size: small;
}
/*=============================*/
/**==========HEADER=============*/
/**=============================*/


.navbar{
    background: #ffcd48;
    position: sticky;
    top: 0;
}  

.navbar a{
    color: #fff;
    display: inline-block;
    padding: 20px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #000;
    transition: .3s ease-out all;
}

.navbar a:hover{
    background: #1d2f3d;
    color: #fff;
    text-decoration: none;
}

.contenedor{
    max-width: 1000px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/**=============================*/
/**======CONTENEDOR IMAGEN=======*/
/**=============================*/


.contenedor-imagen{
    height: 100vh;
}

.contenedor-imagen img{
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
    object-position: 0 bottom;
}


/**=============================*/
/**======CONTENEDOR =======*/
/**=============================*/
.container {
    width: 100%;
    max-width: auto ;
    margin: 30px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "header header header"
                        "sidebar contenido contenido"                        
                        "sidebar2 contenido2 contenido2"
                        "footer footer footer";
}
.container > div,
.container .header,
.container .contenido,
.container .contenido2,
.container .sidebar,
.container .sidebar2,
.container .footer{
    
    padding: 20px;
    border-radius: 4px;
}
.container .header{
    text-align: center;
    display: inline;
    
    grid-area: header;
}
.container .contenido{
    margin-right: 20px;
    margin-left: 20px;
    border:solid 5px black;
    grid-area: contenido;
    text-align: center;
    display: inline;
    
}
.container .sidebar{
    
    text-align: center;
    display: inline;
    float: left;
    grid-area: sidebar;
}



/*preparatoria*/

.container .contenido2{
    margin-right: 20px;
    margin-left: 20px;
    border:solid 5px black;
    grid-area: contenido2;
    text-align: center;
    display: inline;
    
}
.container .sidebar2{
    
    text-align: center;
    display: inline;
   
    grid-area: sidebar2;
}

.container .footer{
    grid-area: footer;
}
/* * ============================== */
/* * === Estilo letra e imagenes ===*/
/* * ============================== */
.sidebar img{
    border-radius: 50%;
    width: 100px;
}




/* * ============================== */
/* * ========== FOOTER ============ */
/* * ============================== */
footer{

    margin: 5px;
    padding: 20px ;
    background-color: #a0a0a0;
    text-align: center;
}


.list-inline a{
    display: inline-block;
}

.list-inline img{
    width: 30px;
}


/* * ============================== */
/* * ====== MEDIA QUERIES ========= */
/* * ============================== */
@media screen and (max-width: 900px){
	.navbar .contenedor {
		flex-wrap: wrap;
		margin: 0;
		width: 100%;
	}

	.navbar a {
		width: auto;
		flex: 1;
	}

	.contenedor-imagen {
		height: 50vh;
	}

	 .container {
		flex-direction: column;
	}
    .container {
        width: 100%;
        max-width: auto ;
        margin: 30px auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, auto);
    
        grid-template-areas: "header "
                            "sidebar "
                            "contenido "                   
                            "sidebar2"
                            "contenido2"
                            "footer";
    }
    .container .header{
        text-align: center;
        display: inline;
        
        grid-area: header;
    }
    .container .contenido{
        border:solid 5px black;
        grid-area: contenido;
        text-align: center;
        display: inline;
        
    }
    .container .sidebar{
        
        text-align: center;
        display: inline;
        float: left;
        grid-area: sidebar;
    }
}